{% extends 'base.html' %}

{% block content %}


<form method="post" id="main-form" class="mt-3">
    <div class="mb-3 row">
        <label for="url" class="col-sm-2 col-form-label ">Url</label>
        <div class="col-sm-10">
            <input type="url" class="form-control post-on-enter" name="url" id="url" value="{{url}}" {% if recording %}
                disabled {%endif%} required>
        </div>
    </div>

    {% if not recording %}
    <div class="mb-3 row">
        <label for="prefix" class="col-sm-2 col-form-label ">Prefix</label>
        <div class="col-sm-10">
            <input type="text" class="form-control post-on-enter" name="prefix" id="prefix" value="{{prefix}}">
        </div>
    </div>
    {% endif %}

    <button type="submit" value="submit" hidden class="btn btn-outline-primary"
        formaction="{{url_for('index.on_enter_in_text')}}">Submit</button>

    <div class="mb-3 row">
        <div class="btn-group max-width " role="group" aria-label="Basic example">

            {% if not recording %}
            <button type="submit" class="btn btn-outline-success"
                formaction="{{url_for('record.start_record')}}">Record</button>
            {% else %}
            <button type="submit" class="btn btn-outline-danger"
                formaction="{{url_for('record.stop_record')}}">Stop</button>
            {% endif %}
            <button onclick="on_click_handler()" class="btn btn-outline-primary"
                hx-post="{{url_for('record.toggle_flip_image')}}" hx-swap="none">
                Flip
            </button>
        </div>
    </div>
</form>
<img id="preview" class="mb-3 {% if flip %}flipped{% endif %}" src="{{preview_url}}">
<script>
    function on_click_handler(event) {
        const flip_class = 'flipped';
        const preview = document.getElementById('preview');
        if (preview.classList.contains(flip_class)) {
            preview.classList.remove(flip_class)
        } else {
            preview.classList.add(flip_class)
        }
    }
</script>
{% endblock %}